body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(0, 36, 44, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

a {text-decoration: none;}

ul li {list-style: none;}

main {
    max-width: 85%;
    margin: auto;
}

@font-face {
    font-family: 'Space Grotesk';
    src:  url(../fonts/Space_Grotesk-/SpaceGrotesk-Light.ttf);
}

@font-face {
    font-family: 'Darker Grotesque';
    src:  url(../fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf);
}

@font-face {
    font-family: 'DM Sans';
    src:  url(../fonts/DM_Sans/DMSans_18pt-SemiBold.ttf);
}

/* **** */
header {
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(17px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.toggle { display: none;}

nav {
    max-width: 85%;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .my-name {
    font-size: 32px;
    color: #00D1FF;
    font-family: 'Darker Grotesque';
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

nav .my-name:hover {transform: scale(1.1);}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 540px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.menu .item-nav a {
    font-size: 20px;
}

.menu .item-nav {
    border: 1px solid #00D1FF;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
}

.menu li a, a:visited {
    position: relative;
    transition: 0.1s linear;
    font-family: 'Darker Grotesque';
    font-weight: 500;
    color:#FFFF;
    font-size: 20px;
}

.menu li a::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #00D1FF;
    height: 1px;
    bottom: 1px;
    left: 0;
    transform-origin: center;
    display: none;
}

.menu li a:hover::after {display: block;}

.menu li a:hover {
    transform: scale(2.08);
    color: #00D1FF;
}

.menu li a:hover::after {
    animation: animLink 1.4s infinite ease-in-out;
}

@keyframes animLink {
    50% {
        transform: scaleX(0.2);
    }
    100% {
        transform: scaleX(1);
    }
}

.block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contenant {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenant .profil {
    position: relative;
    top: -110px;
    z-index: 1;
}

.contenant  .oval-fond {
    background: rgba(0, 36, 44, 1);
    position: absolute;
    width: 700px;
    height: 500px;
    top: -90px;
    z-index: -1;
    filter: blur(45px);
}

.skill {
    position: absolute;
    top: 275px;
    left: 0;
    right: 0;
    width: 810px;
    margin: auto;
}

.skill .row-skill {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -260px;
    right: 110px;
}

.skill .second {
    position: relative;
    right: 195px;
    top: -170px;
}

.skill .row-skill .logo {
    background: #FFFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skill .row-skill .js {
    width: 154px;
    height: 153px;
}

.skill .row-skill .html {
    width: 81px;
    height: 80px;
    right: 150px;
}

.skill .row-skill .css {
    width: 102px;
    height: 101px;
}

.skill .row-skill .bootstrap {
    width: 106px;
    height: 105px;
    top: 40px;
    left: 20px;
}

.block-container .oval {  position: relative;}

.block-container .oval1 {
    width: 616px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(17px);
}

.block-container .oval2 {
    width: 209px;
    height: 209px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(17px);
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.home {
    margin-top: 270px;
    height: 1099px;
}

.down {
    position: absolute;
    top: 40%;
    right: 0;
    transform: rotate(90deg);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.presentation  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -250px;
    position: relative;
    z-index: 1;
}

.presentation .hello {
    font-family: 'Space Grotesk';
    color: #00D1FF;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
    text-align: center;
}

.presentation .name {
    font-family: 'Space Grotesk';
    color: #00D1FF;
    font-size: 120px;
    font-weight: 700;
}

.presentation p {
    color: rgba(0, 209, 255, 0.50);
    font-family: 'Darker Grotesque';
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 5px;
}

.button {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 29px;
}

.button a {
    padding: 20px 32px;
    border-radius: 8px;
    border: 1px solid #00D1FF;
    font-family: 'Space Grotesk';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: #00D1FF;
}

.button .btn1 {
    display: block;
    padding: 20px 32px;
    border-radius: 8px;
    color: #00D1FF;
    border: 1px solid #00D1FF;
    background-image: linear-gradient(to right, transparent 50%, #00D1FF 50%, rgb(18, 188, 226));
    background-size: 200%;
    transition: 0.8s;
}

.button .btn1:hover {
    color: #00242C;
    background-position: 100%;
}

/* oval-rond */
.oval-rond {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background: #FFF;
    position: relative;
    z-index: 2;
    top: 195px;
    right: 12px;
}

/* ********about********* */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    margin: auto;
}

.txt {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
}

.txt p {
    font-family: 'Darker Grotesque';
    color: rgba(0, 209, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
 }

 .txt .title {
    color: #00D1FF;
    font-family: 'Space Grotesk';
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: capitalize;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 180px;
    margin-top: 96px;
}

.about-container .oval {
    position: relative;
}

.about-container .oval1 {
    width: 365px;
    height: 438px;
    transform: rotate(4deg);
    flex-shrink: 0;
    border-radius: 27px;
    background: #FFF;
}

.about-container .oval2 {
    position: absolute;
    top: 0;
    width: 365px;
    height: 438px;
    transform: rotate(-4deg);
    flex-shrink: 0;
    border-radius: 27px;
    background: rgb(52 83 90);
}

.paragraph {
    margin-top: 25px;
    width: 435px;
    line-height: 25px;
    color: rgba(0, 209, 255, 0.50);
    font-family: 'Darker Grotesque';
    font-size: 18px;
    font-weight: 500;
}

.block-right button {
    background: none;
    border-radius: 8px;
    border: 1px solid #00D1FF;
    color: #00D1FF;
    font-family: 'Space Grotesk';
    font-size: 16px;
    margin-top: 16px;
    padding: 15px 34px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* ******experience***** */
#experience {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-row {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 46px;
}

.row-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 294px;
    border-radius: 18px;
    background: rgba(0, 209, 255, 0.50);
    margin-top: 24px;
} 

.title-skill {
    text-align: center;
    color: #00242C;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skill-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.liste-skill {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.txt-skill .small-title {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.txt-skill p {
    color: rgba(255, 255, 255, 0.80);
    font-family: "DM Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* *****projets***** */

#projects { margin: 100px 0;}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.row-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px 70px;
}

.row-projects .row {
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(0, 209, 255, 0.50);
    padding: 15px;
    transition: 5s
}

.row-projects .row:hover {
    background: #00D1FF;
}

.row-projects .img-oval {
    width: 100%;
    height: 340px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #00242C;
    padding: 2px;
    object-fit: cover;
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.row-projects .img-oval:hover {
    transform: scale(0.97);
}

.row-projects .small-title {
    margin-top: 15px;
    color: #00242C;
    font-family: 'DM Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    transition: 8s;
}

.row-projects .text { width:415px;}

.row-projects .text p {
    line-height: 25px;
    color: #00242C;
    font-family: 'DM Sans';
    font-size: 17px;
  
    height: 76px;
    transition: 5s;
}

.btn-link {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.btn-link .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #00242C;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 12px;
    border: 1px solid #00242C;
    padding: 10px;
    transition: 1s;
}

.btn-link img {
    width: 20px;
    height: 20px;
}

.btn-link .hover  {
    display: none;
}

.btn-link .btn:hover {
     background: #00242C;
}

.btn-link .btn:hover .active {
    display: none;
}

.btn-link .btn:hover .hover {
    display: block;
}

.btn-link .btn:hover .svg-inline--fa  {
    color: #00D1FF;
}

.btn-link .btn-secondary {
    width: 85px;
    background: #00242C;
}

/* ****contact**** */

#contact {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: auto;
}

#contact .container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.block-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 320px;
    height: 137px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #00D1FF;
    transition: 5s;
}

.block-contact:hover {
    background: rgba(0, 209, 255, 0.50);
}

.block-contact .svg-inline--fa {
    color: rgba(0, 36, 44, 1);
    font-size: 24px;
}

.block-contact .small-title {
    color: #00242C;
    font-family: 'DM Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}

.block-contact .email{
    color: #00242C;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.block-contact p{
    color: #005062;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.contact-content {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 127px;
}

.formulaire { width: 100%;}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .nom-email {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form .mess {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form input, textarea {
    padding: 10PX 20px;
    font-size: 16px;
    width: 100%;
    color: #FFFFFF;
    background: none;
    border-radius: 18px;
    border: 1px solid #00D1FF;
    outline: none;
}

form input {
    height: 60px;
    outline: none;
}

form .sub {
    width: 200px;
    background: #00D1FF;
    border-radius: 18px;
}

form ::placeholder {
    color: rgba(0, 209, 255, 0.40);
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.sub input  {
    color: #00242C;
    font-size: 24px;
}

/* *footer** */

footer {
    background: #00D1FF;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 10s;
}

footer:hover {
    background: rgba(0, 209, 255, 0.50);
}

footer .title {
    color: #00242C!important;
    margin-top: 50px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 75px;
}

.nav ul li a{
    color: #00242C;
    font-family: 'DM Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .icons {
    display: flex;
    align-items: center;
    gap: 50px;
}

footer .icon  {margin-top: 60px;}

footer .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    background: rgba(0, 36, 44, 1);
    border-radius: 18px;
}

footer .icons .svg-inline--fa {
    color: #00D1FF;
    font-size: 30px;
    transition: 10s;
}

footer:hover .icons .svg-inline--fa {
    color: rgba(0, 209, 255, 0.50);
}

footer .sandip {
    color: #00242C;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}

.icon-secondary {
    display: flex;
    align-items: center;
    gap: 100px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background: rgba(8, 88, 105, 0.5);
    padding: 20px 50px;
    margin: 47px 0 50px 0;
}

.icon-secondary img{
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
}
.icon-secondary .svg-inline--fa {
    color: #FFF;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
}

.icon-secondary .svg-inline--fa:hover {
    background: rgba(0, 209, 255, 0.50);
    color: rgba(0, 36, 44, 1);
}


.ulRotate {
    transform: rotate(0deg);
    transition: 0.5s;
}

@media screen and (max-width: 1115px) {
    nav { max-width: 90%; }

    .about-container { gap: 50px;}

    .experience-row {flex-direction: column;}

    .row-projects {gap: 30px;}

    .row-projects .row .img-oval { width: 100%;}

    .contact-content { flex-direction: column; }

    #contact .container {
        width: 100%;
        align-items: center;
    }

    .block-contact { width: 60%;}
    
}

@media screen and (max-width: 992px) {

    .my-project {grid-template-columns: 1fr 1fr; }

        /* ****toggle**** */

    .toggle {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 20;
        transform: rotate(0deg);
        transition: 2s;
    }
    .ouvrir {display: block;}

    .fermer {display: none;}

    .open .ouvrir {display: none; }

    .open .fermer {  display: block;}

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: rgb(52 83 90);
        justify-content: start;
        align-items: start;
        gap: 100px;
        padding: 20px;
        transform: translateX(100%);
        transition:transform 1.5s;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 80px;
        position: relative;
        top: -470px;
    }

    .open .menu ul {
        top: 0!important;
    }
    
    .open .menu {
        transform: translateX(0);
    }

    .open .toggle {
        transform: rotate(-900deg);
    }
    
    .ulRotate {
        transform: rotate(-1440deg)!important;
        transition: 1.5s;
    }
    
    nav .toggle .ouvrir, .fermer{
        font-size: 32px;
        color: #00D1FF;
    }

    main {
        max-width: 90%;
        margin: auto;
    }

    .block-container .oval1 {
        width: 500px;
        height: 500px;
    }
    .block-container .oval2 {
        width: 95px;
        height: 95px;
    }

    .contenant .profil {width: 100%;}

    .contenant .oval-fond {
        width: 100%;
        top: -150px;
    }

    .skill {display: none;}
    
    .about-container { flex-direction: column;}

    #contact .container { flex-direction: column;}

    form {
        max-width: 80%;
        margin: auto;
    }

    .row-projects .text {
        width: 100%;
    }

    .paragraph {
        width: 100%;
        font-size: 20px;
    }
    .oval-rond {
        top: 244px;
        right: 14px;
    }

}

@media screen and (max-width: 850px) {
    .row-projects {grid-template-columns: 1fr;}

    .row-projects .text p {
        height: auto;
    }
    .down {
        display: none;
    }
    
}

@media screen and (max-width: 576px) {
    .presentation .name {
       font-size: 80px;
       line-height: 90px;
       text-align: center;
    }

    .block-container .oval1 {
        width: 400px;
        height: 400px;
    }

    .button {flex-direction: column;}

    .menu {width: 80%;}

    .row-skills {width: 100%;}
        
    .experience-container { width: 100%;} 
       
    .experience-row { width: 100%;}

    .block-contact { width: 100%; }

    form {  max-width: 100%;}

    .icon-secondary {
         gap: 40px;
         padding: 20px 20px;
    }

    .contact-content {margin-top: 40px;}

    footer .icons {  gap: 20px;}

    footer .icon {
        width: 51px;
        height: 51px;
    }

    .row-projects .text {
        width: 100%;
    }

    #about {
        max-width: 100%!important;
    }
    .oval-rond {
        top: 195px;
        right: 12px;
    }
}

@media screen and (max-width: 470px) {
    .home {
        margin-top: 270px;
        height: 1000px;
    }

    .oval-rond {
        display: none;
    }

    .presentation .name {font-size: 60px;}
}

@media screen and (max-width: 400px) {
    .home {
        margin-top: 270px;
        height: 900px;
    }

    .block-container .oval1 {
        width: 350px;
        height: 350px;
    }

    .about-container .oval1 {
        width: 340px;
        height: 400px;
    }

    .about-container .oval2 {
        width: 340px;
        height: 400px;
    }
}

@media screen and (max-width: 370px) {

    .menu {width: 100%;}

    .about-container .oval1 {
        width: 300px;
        height: 370px;
    }

    .about-container .oval2 {
        width: 300px;
        height: 370px;
    }

    .block-container .oval1 {
        width: 280px;
        height: 290px;
    }

    .btn-link .btn {
        width: 30%;
    }
}